.row
  .alpha.ten.columns
    = form.field_container :name do
      = form.label :name, raw(Spree.t(:name) + content_tag(:span, ' *', class: 'required'))
      = form.text_field :name, class: 'fullwidth name'
      = form.error_message_on :name
    = form.field_container :enabled do
      = form.label :enabled, Spree.t(:enabled)
      = form.check_box :enabled
    = form.field_container :private do
      = form.label :private, Spree.t(:private)
      = form.check_box :private
