.row
  .alpha.ten.columns
    = form.field_container :title do
      = form.label :title, raw(Spree.t('blog_entry.title') + content_tag(:span, ' *', class: 'required'))
      = form.text_field :title, class: 'fullwidth title'
      = form.error_message_on :title
    = form.field_container :permalink do
      = form.label :permalink, Spree.t('blog_entry.permalink')
      = form.text_field :permalink, class: 'fullwidth title'
      = form.error_message_on :permalink
    = form.field_container :title_image do
      = form.label :title_image, Spree.t('blog_entry.title_image')
      = form.text_field :title_image, class: 'fullwidth title_image'
    = form.field_container :title_image_alt do
      = form.label :title_image_alt, Spree.t('blog_entry.title_image_alt')
      = form.text_field :title_image_alt, class: 'fullwidth title_image_alt'
    .columns.five.alpha
      = form.field_container :published_at do
        = form.label :published_at, Spree.t('blog_entry.published_at')
        %br
        = form.error_message_on :published_at
        - if @blog_entry.published_at?
          - published_at = l(@blog_entry.published_at, format: Spree.t('date_picker.format'))
        - else
          - published_at = nil
        = form.text_field :published_at, value: published_at, class: 'datepicker'
    .columns.five.omega
      = form.field_container :visible do
        = form.label :visible, Spree.t('blog_entry.visible')
        %br
        = form.check_box :visible
        = form.error_message_on :visible
= form.field_container :body do
  = form.label :body, raw(Spree.t('blog_entry.body') + content_tag(:span, ' *', class: 'required'))
  = form.text_area :body, { cols: 60, rows: 4, class: 'fullwidth form-control', id: 'blog_entry_body' }
  = form.error_message_on :body
= form.field_container :summary do
  = form.label :summary, Spree.t('blog_entry.summary')
  %br
  = form.text_area :summary, { cols: 60, rows: 4, class: 'fullwidth', id: 'blog_entry_summary' }
  = form.error_message_on :summary
= form.field_container :meta_title do
  = form.label :meta_title, Spree.t('blog.meta_title')
  = form.text_field :meta_title, class: 'fullwidth meta_title'
= form.field_container :meta_keywords do
  = form.label :meta_keywords, Spree.t('blog_entry.meta_keywords')
  = form.text_field :meta_keywords, class: 'fullwidth meta_keywords'
