= content_for :page_title do
  = Spree.t('blog_entry.edit')
  %i.icon-arrow-right= "#{@blog_entry.title}"
= content_for :page_actions do
  %a(href="#{admin_blog_blog_entries_url(blog_id: @blog_entry.blog_id)}")= Spree.t('blog_entry.back')
= render "spree/shared/error_messages", target: @blog_entry
= form_for [:admin, @blog_entry.blog, @blog_entry] do |f|
  = render partial: f
  = button Spree.t('actions.update'), 'refresh', 'submit', { class: 'btn-success' }
