= content_for :page_actions do
  %li= button_link_to Spree.t(:new_blog_entry), new_object_url, icon: 'add'
= content_for :page_title do
   = Spree.t(:blog_entries)
= render partial: 'index', locals: { blog_entries: @blog_entries }
