= content_for :page_actions do
  %li= button_link_to Spree.t(:new_blog_entry), new_object_url, icon: 'add'
= content_for :page_title do
   = Spree.t(:blog_entries)
- if @blog_entries.any?
  %table.index
    %thead
      %tr>
        %th.date= Spree.t(:published_at)
        %th.title= Spree.t(:title)
        %th= Spree.t(:path)
        %th= Spree.t(:visible)
        %th.actions
    %tbody
      - @blog_entries.each do |blog_entry|
        %tr class="#{cycle('odd', 'even')}" id="#{dom_id blog_entry}">
          %td= l( blog_entry.published_at, format: :blog_date) if blog_entry.published_at
          %td= blog_entry.title
          %td= link_to blog_entry_permalink(blog_entry), blog_entry_permalink(blog_entry)
          %td.align-center
            = content_tag(:i, '', class: 'icon-ok green') if blog_entry.visible
          %td.actions
            = link_to_edit blog_entry, no_text: true
            = link_to_delete blog_entry, no_text: true
  = paginate @blog_entries
- else
  %p= Spree.t(:no_blog_entries)

