- if params[:q][:tags_name_eq].present?
  .span
    %b= Spree.t('blog_entry.tags').singularize + ': '
    = params[:q][:tags_name_eq]
- elsif params[:q][:author_user_detail_nickname_eq].present?
  .span
    %b= Spree.t('blog_entry.author') + ': '
    = params[:q][:author_user_detail_nickname_eq]
- elsif params[:q][:author_email_eq].present?
  .span
    %b= Spree.t('blog_entry.author') + ': '
    = params[:q][:author_email_eq]
