- unless @blog.css_path.blank?
  - content_for :stylesheets do                                  
    = stylesheet_link_tag @blog.css_path
#blog_container
  %h1.text-center= @blog.name
  - unless params[:q].blank?
    = render partial: 'spree/blogs/search_query'
  .large-9.columns#blog_entries
    - @blog_entries.each do |blog_entry|
      #blog_entry_entry
        %a(href="/#{blog_entry.permalink}")
          %h2= blog_entry.title
        .blog_entry_body.text-center
          - if blog_entry.summary.blank?
            = truncate(blog_entry.body, length: 1000, omission: '' , escape: false)
          - else
            = blog_entry.summary
          %a(href="/#{blog_entry.permalink}")= Spree.t('blog_entry.read_more')
        .blog_entry_details
          = Spree.t('blog_entry.posted_on')
          %span.blog_entry_date= l(blog_entry.published_at, format: :blog_date)
          - author = blog_entry.author
          - author_info = author.try(:user_detail)
          - unless author.blank?
            .blog_entry_author
            = Spree.t('blog_entry.by') + ' '
              - if author_info.nickname.present?
                - query_params = { q: { author_user_detail_nickname_eq: author_info.nickname } }
                - author_name = author_info.nickname
              - else
                - query_params = { q: { author_email_eq: author.email } }
                - author_name = author.email
              %a(href="/#{@blog.slug}?#{query_params.to_query}")= author_name
      %hr
  .large-3.columns
    = render partial: 'spree/shared/sidebar_show', locals: { blog: @blog_entry.blog }
  = paginate @blog_entries
