- unless @blog.css_path.blank?
  - content_for :stylesheets do                                  
    = stylesheet_link_tag @blog.css_path
#blog_container
  %h1.text-center= @blog.name
  #blog_entries
    - @blog_entries.each do |blog_entry|
      #blog_entry_entry
        %a(href="/#{blog_entry.permalink}")
          %h2= blog_entry.title
        .blog_entry_body.text-center
          - if blog_entry.summary.blank?
            = truncate(blog_entry.body, length: 1000, omission: '' , escape: false)
          - else
            = blog_entry.summary
          %a(href="/#{blog_entry.permalink}")= Spree.t('blog_entry.read_more')
        .blog_entry_details
          = Spree.t('blog_entry.posted_on')
          %span.blog_entry_date= l(blog_entry.published_at, format: :blog_date)
          - unless blog_entry.author.blank?
            = Spree.t('blog_entry.by')
            = blog_entry.author.name
      %hr
  = paginate @blog_entries
