- unless tags_by_type.blank?
  .tags_by_type_wrapper.blog_module
    %h3.blog_module_header= Spree.t('blog_entry.tags')
    %ul.tags_by_type
      - tags_by_type.each_pair do |tag_name, count|
        %li
          - query_hash = { q: { tags_name_eq: tag_name } }
          = link_to "#{tag_name} (#{count})", "/#{blog.slug}?#{query_hash.to_query}"
