- unless @blog_entry.blog.try(:css_path).blank?
  - content_for :stylesheets do
    = stylesheet_link_tag @blog_entry.blog.css_path
.row
  .large-9.columns
    #blog_entry_container
      = image_tag(@blog_entry.try(:title_image), alt: @blog_entry.try(:title_image_alt))
    #blog_entry_entry
      %h2= @blog_entry.title
    .blog_entry_body
      = raw(@blog_entry.body)
    - author = @blog_entry.author
    - author_info = author.try(:user_detail)
    - unless author.blank?
      .blog_entry_author
        = Spree.t('blog_entry.by') + ' ' + (author_info.nickname.present? ? author_info.nickname : author.email)
    .blog_entry_published_at
      = Spree.t('blog_entry.posted_on') + ' ' + @blog_entry.published_at.strftime('%b %d, %Y')
    .blog_entry_social
      - page_url = request.original_url
      - share_text = @blog_entry.title
      = render partial: 'spree/shared/social_share', locals: { page_url: page_url, share_text: share_text }
  .large-3.columns
    = render partial: 'spree/shared/sidebar_show', locals: { blog: @blog_entry.blog }
